:root {
    --site-color: #434455;
    --site-color-two: #2E2F42;
    --button-color-logo: #4D5AE5;
    --focus-button: #404BBF;
    --light-background: #F4F4FD;
    --white: #FFFFFF;
}

body {
    color: var(--site-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: var(--white);
}

/* глобальне скидання стилів */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
}
img{
    vertical-align: top;
}
/* глобальне скидання стилів */
h1 {
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--site-color-two);
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--site-color-two);
}



footer {
    background-color: var(--site-color-two);
}
.visually-hidden {
     position: absolute;
      width: 1px; 
      height: 1px; 
      margin: -1px; 
      border: 0; 
      padding: 0; 
      white-space: nowrap; 
      clip-path: inset(100%); 
      clip: rect(0 0 0 0); 
      overflow: hidden; 
    }
.list {
    list-style-type: none;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1158px;
    /* display: flex;
    flex-direction: row; */
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
/*!--------header------*/
header {
    border-bottom: 1px solid #E7E9FC;
    padding-top: 24px;
    padding-bottom: 24px;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-container{
    display: flex;
    align-items: center;
}
.page-nav {
    display: flex;
    justify-content: space-between;
 
    width: 261px;
    margin-left: 76px;
}

.page-nav .link {
    display: flex;
    width: 48px;
    color: var(--site-color-two);
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.page-nav .link:hover,
.page-nav .link:focus {
    color: var(--focus-button);
}
address {
    display: flex;
    align-items: center;
}
.address-link {
    display: flex;
    font-style: normal;
    margin-left: 332px;
    gap: 40px;

}

.address-link .link {
    font-family: "Roboto", sans-serif;
    color: var(--site-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link .link:hover,
.address-link .link:focus {
    color: var(--focus-button);
}
/* header end */
/* main */
.hero {
    display: flex;
    background-color: var(--site-color-two);
    color: var(--white);
    height: 600px;
}

.container-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.title-hero {
    display: flex;
    width: 496px;
}


.order-button {
    font-family: "Roboto", sans-serif;
    background: var(--button-color-logo);
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    flex-wrap: nowrap;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


.order-button:hover,
.order-button:focus {
    background: var(--focus-button);
}

.container-advantages {
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
}

.list-advantages {
    display: flex;
    gap: 24px;
}

.advantages {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.text {
    color: var(--site-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.work-container {
    display: block;
    margin-top: 120px;
    align-items: center;
}

.list-work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    margin-top: 72px;
}

.team-container {
    display: block;
    height: 732px;
    margin-top: 120px;
}

.our-team {
    background: var(--light-background);
}

.our-team-title {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 72px;
}

.team {
    display: flex;
    flex-direction: row;
    gap: 24px;

}

.photo-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 32px 0;
    gap: 32px;
    width: 264px;
    height: 372px;
    /* прибрати пробіл над фото  380px !!!!*/
    background-color: var(--white);
    text-align: center;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;

}

.footer-text {
    color: var(--light-background);
    width: 264px;
}

.footer {
    height: 312px;
}

.container-foot {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px 0;
    gap: 16px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--button-color-logo);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 115px;
    height: 24px;

}

.logo-two {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--button-color-logo);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.part-logo-two {
    color: var(--light-background);
}

.part-logo {
    color: var(--site-color-two);
}


.exempl {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--site-color-two);
    text-align: left;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-filter{
    display: flex;
    justify-content: center;
    margin-top: 96px;
}
.button-list {
    display: flex;
    gap: 24px;
}

.filter-button {
    background: var(--light-background);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--button-color-logo);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;

   
    border: 1px solid #E7E9FC;
    border-radius: 4px;

}
.filter-button:hover,
.filter-button:focus {
    background: var(--focus-button);
    color: var(--white);
}

.container-portfolio{
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    margin-bottom: 120px;
   
    
    

}
.content-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}
/* .part-content{
    display: flex;
    margin-bottom: 24px;
    
} */
.one-exempl{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 420px;
    border: 1px solid #E7E9FC;
}
.text-exemple{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 8px;
    padding-left: 16px;
}